html {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: #fafafa;
}

h1 {
  font-family: "Advent Pro", sans-serif;
  font-size: 3rem;
  padding: 20px 0;
  font-weight: 600;
}

.form-entry > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-entry > h1 > svg {
  transform: rotate(-20deg);
  padding-right: 5px;
}

/* Signup & Login */
.step-1,
.step-2 {
  text-align: center;
  margin: 100px auto 20px auto;
  border: 1px solid #58718138;
  border-radius: 2px;
  padding: 0 20px 20px 20px;
  max-width: 360px;
  background-color: #fff;
}

.account > a {
  text-decoration: none;
  color: #005995;
  font-weight: 600;
}

.account > a:active {
  color: #157cc0;
}

.account {
  margin: 0 15px;
  margin-top: 5px;

  padding-top: 15px;
  border-top: 1px solid lightgray;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  box-sizing: border-box;
  padding: 0 5px;
  margin: 2.5px 0;
  width: 100%;
  height: 35px;
  cursor: text;
  border: 1px solid lightgray;
  border-radius: 2px;
}

/* input[type="password"]:focus {
  outline: 2px solid #305d81;
} */

button {
  width: 99%;
  height: 31px;
  margin: 10px 0;
  background-color: #005995;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

button:focus {
  outline: 0;
}
button:active {
  background-color: #157cc0;
}

h2 {
  font-size: 1.05rem;
  padding-bottom: 20px;
  line-height: 22.5px;
}

.navbar {
  margin: 0 auto;
  max-width: 1000px;
}

.navbar {
  font-weight: 700;
}

.navbar > ul {
  display: flex;
}

.navbar > ul > li .active {
  background-color: red;
}

footer {
  text-align: center;
  color: rgb(145, 143, 143);
}
