html {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: #f6fbff;
}

h1 {
  font-family: "Advent Pro", sans-serif;
  font-size: 3rem;
  padding: 20px 0;
  font-weight: 600;
}

.form-entry > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-entry > h1 > svg {
  transform: rotate(-20deg);
  padding-right: 5px;
}

/* Signup & Login */
.step-1,
.step-2 {
  text-align: center;
  margin: 100px auto 20px auto;
  border: 1px solid #58718138;
  border-radius: 2px;
  padding: 0 20px 20px 20px;
  max-width: 360px;
  background-color: #fff;
}

.account > a {
  text-decoration: none;
  color: #005995;
  font-weight: 600;
}

.account > a:active {
  color: #157cc0;
}

.account {
  margin: 0 15px;
  margin-top: 5px;

  padding-top: 15px;
  border-top: 1px solid lightgray;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  box-sizing: border-box;
  padding: 0 5px;
  margin: 2.5px 0;
  width: 100%;
  height: 35px;
  cursor: text;
  border: 1px solid lightgray;
  border-radius: 2px;
}

/* input[type="password"]:focus {
  outline: 2px solid #305d81;
} */

button {
  width: 99%;
  height: 31px;
  margin: 10px 0;
  background-color: #005995;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}

button:focus {
  outline: 0;
}
button:active {
  background-color: #157cc0;
}

button:hover {
  background-color: #157cc0;
}

h2 {
  font-size: 1.05rem;
  padding-bottom: 20px;
  line-height: 22.5px;
}

.nav {
  height: 55px;
  background-color: #fff;
  border-bottom: 1.5px solid #bfcad0;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar {
  margin: 0 auto;
  display: flex;
  max-width: 1000px;
  align-items: center;
  height: 55px;
  justify-content: space-evenly;
}

.navbar {
  font-weight: 700;
}

.navbar > a {
  text-decoration: none;
  color: #000;
  padding: 5px;
  border-radius: 50%;
  opacity: 0.7;
  margin: 0 30px;
}

.navbar > .activeNavBtn {
  background-color: #f34b4b;
  opacity: 1;
}

.navbar > a:hover {
  background-color: #f34b4bc7;
}

footer {
  text-align: center;
  color: rgb(145, 143, 143);
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

footer > p {
  margin: 0;
  padding-right: 10px;
}
footer > a {
  margin: 0;
}

/* Loader */
.loader {
  display: flex;
  justify-content: center;
  margin-top: 30%;
}

/* articles */
.articles {
  max-width: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.articles > .article-card {
  border: 1px solid #58705857;
  padding: 5px;
  margin: 5px auto;
  border-radius: 3px;
  width: 95%;
}
.articles > .article-card > a {
  color: #000000;
  cursor: pointer;
}

.articles > .article-card:hover {
  background-color: #58705809;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home > .title-block > a > button {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home > .title-block > a {
  text-decoration: none;
}

.home > .title-block > a > button > svg {
  padding-right: 8px;
}

.navbar > h1 {
  padding: 0;
  font-weight: 600;
  font-size: 2.75rem;
  display: flex;
  align-items: center;
  margin: 0;
}

.body {
  margin-top: 65px;
  max-width: 1000px;
}
.home {
  width: 380px;
  background-color: #fff;
  border: 1px solid #01742479;
  border-radius: 2px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.feed {
  width: 580px;
  background-color: #fff;
  border: 1px solid #00599546;
  height: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-radius: 2px;
}

.home > .title-block > h2 {
  font-family: "Advent Pro", sans-serif;
  font-size: 2rem;
  padding: 20px 0;
  font-weight: 600;
}
.home > h2 {
  font-size: 2rem;
  margin-top: 20px;
  font-family: "Advent Pro", sans-serif;
  padding-bottom: 5px;
}
.main {
  display: flex;
}

.feed > h2 {
  font-family: "Advent Pro", sans-serif;
  font-size: 2rem;
  margin-top: 20px;
  text-align: center;
}

.add-study-form > h2 {
  font-family: "Advent Pro", sans-serif;
  font-size: 2rem;
  margin-top: 20px;
  text-align: center;
  padding-top: 20px;
}
.main > .add-study-form > h2:last-of-type {
  margin-top: 0;
  font-size: 2rem;
}

.add-study-form {
  background-color: #fff;
  width: 580px;
  border: 1px solid #00599546;
}

.add-study-form > form > button {
  width: 150px;
  margin-top: 20px;
}

.add-study-form > form {
  max-width: 75%;
  padding-bottom: 20px;
}

.radios {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  font-size: 0.9rem;
  margin-top: 10px;
  align-items: center;
}

.radios > input {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  display: flex;
}
.radios > input:last-child {
  margin-left: 10px;
}

.radios > input {
  cursor: pointer;
}

.category {
  width: 380px;
  background-color: #fff;
}

.profile {
  background-color: #fff;
  padding: 20px;
}

.profile button {
  width: 150px;
  margin-top: 10px;
}

.boards {
  background-color: #fff;
}

/* rgb(240, 238, 238); #fafafa*/

.main > .category > h2 {
  font-family: "Advent Pro", sans-serif;
  font-size: 2rem;
  margin-top: 20px;
  text-align: center;
  padding-top: 20px;
}

.message > h2 {
  font-family: "Advent Pro", sans-serif;
  font-size: 2rem;
  margin-top: 20px;
  text-align: center;
  padding-top: 20px;
}

.boards > h2 {
  font-family: "Advent Pro", sans-serif;
  font-size: 2rem;
  margin-top: 20px;
  text-align: center;
  padding-top: 20px;
}

.boards > p {
  text-align: center;
}

.profile > .profile-body > h2 {
  font-family: "Advent Pro", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.profile > .profile-body > p {
  text-align: left;
  padding: 5px;
}

.profile > .profile-body {
  border: 1px solid #00599546;
  width: 60%;
  padding: 20px;
}

.profile > .profile-body > p > strong {
  font-weight: 600;
}

.profile > .profile-body > p span {
  opacity: 0.8;
  font-style: italic;
}

.articles > .article-card > h3 {
  font-size: 1.5rem;
}

.articles > .article-card > .title > h3 {
  font-size: 1.3rem;
}

.articles > .article-card > p {
  font-size: 0.8rem;
  color: darkgray;
}

.articles > .article-card > .title > p {
  font-size: 0.8rem;
  color: rgb(122, 120, 120);
}
.profile {
  border: 1px solid #00599546;
  width: 300px;
}

.title-block {
  display: flex;
  width: 90%;
  margin: 0 5px;
  flex-direction: column;
}

.home > .title-block > .btns > button {
  width: 20px;
}

.btns {
  width: 99%;
  display: flex;
}
.btns button {
  height: 640x;
  width: 125px;
}

.profile {
  text-align: center;
}

.articles > .article-card > .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.articles > .article-card > .title > h3,
p {
  margin: 0 7.5px 7.5px 0;
}

.articles > .article-card > a {
  margin: 10px 0;
  line-height: 1.3;
  word-wrap: break-word;
}

.articles > .article-card > a:hover {
  color: #019125;
}

.add-study-form h2 {
  font-family: "Advent Pro", sans-serif;
  font-size: 2rem;

  text-align: center;
  padding-top: 20px;
}

.board-name {
  padding-bottom: 10px;
  text-align: left;
  margin-left: 0;
}

.board-name label {
  padding-right: 10px;
}

.article-card > svg:hover {
  transform: scale(1.1);
}

.main > .side > a > button {
  width: 40%;
  margin: 19px;
  height: 45px;
}

.main > .side > a > .last {
  float: right;
}

.home {
  min-height: 200px;
}

img {
  height: 100px;
  width: 100px;
}

.boards {
  max-width: 90%;
  display: flex;
  flex-flow: row wrap;
}

.boards > .board-card {
  padding: 10px 20px;
}

@media (max-width: 1000px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
  }
  .feed,
  .add-study-form {
    max-width: 95%;
  }
  .add-study-form {
    margin-top: 30%;
  }
  .profile {
    margin-top: 50%;
  }
  .side,
  .home {
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: -60px;
  }

  .navbar {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: white;
    border-top: 2px solid darkgray;
  }
  .navbar h1 {
    display: none;
  }
  .nav {
    height: 0px;
    border: none;
  }
  .feed {
    margin-bottom: 100px;
  }
}
