.secondary-container {
  height: 100%;
  width: 100%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.home-container {
  max-width: 1285px;
  width: 100%;
  margin: 0 auto;
}
.nav-container {
  height: 10rem;
  padding: 0 32px;
}
.nav-container .nav-bar {
  display: flex;
  justify-content: flex-end;
  max-width: 1150px;
  height: 10rem;
  align-items: center;
}
.nav-container a {
  font-size: 1.6rem;
  align-items: center;
  color: #666666;
  margin: auto 32px auto 0;
  text-decoration-line: none;
}
.nav-container a:hover {
  color: #f77754;
}
.nav-container nav:last-of-type {
  margin-right: 0;
}
.head {
  padding: 0 32px;
  height: 100%;
  border: 1px solid blueviolet;
}
.head .head-blank {
  margin: 0 32px;
  padding-top: 32px;
  padding-bottom: 64px;
  height: 80%;
}
.content-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
@media (max-width: 500px) {
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed green;
  }
}
.content-container .header-content {
  width: 42%;
  margin-right: 2%;
}
@media (max-width: 500px) {
  .content-container .header-content {
    width: 100%;
    margin-right: 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
  }
}
.content-container .header-content h1 {
  font-size: 4rem;
  margin-bottom: 1.6rem;
}
.content-container .header-content .btn-container {
  padding-top: 3.2rem;
  display: flex;
}
@media (max-width: 500px) {
  .content-container .header-content .btn-container {
    justify-content: center;
  }
}
.content-container .header-content .btn-container button {
  border-radius: 2rem;
  padding: 1rem;
}
.header-img {
  width: 56%;
  height: 100%;
}
@media (max-width: 500px) {
  .header-img {
    display: none;
  }
}
.header-img img {
  height: 100%;
  width: 100%;
}
.main-content {
  padding: 0 32px;
  height: 80%;
}
.main-content .main-content-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: 3.2rem;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .main-content .main-content-container {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
  }
}
.main-content .main-content-container .para1 {
  height: 80%;
  border-right: 1px solid #0a516d;
  align-items: center;
  padding-bottom: 2.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 1rem;
  margin: 1.2rem;
}
@media (max-width: 500px) {
  .main-content .main-content-container .para1 {
    border-bottom: 1px solid #0a516d;
    border-right: none;
  }
}
.main-content .main-content-container .para1 h2 {
  margin-bottom: 1rem;
}
.main-content .main-content-container .para2 {
  height: 80%;
  border-right: 1px solid #0a516d;
  align-items: center;
  padding-bottom: 2.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 1rem;
  margin: 1.2rem;
}
@media (max-width: 500px) {
  .main-content .main-content-container .para2 {
    border-bottom: 1px solid #0a516d;
    border-right: none;
  }
}
.main-content .main-content-container .para2 h2 {
  margin-bottom: 1rem;
}
.main-content .main-content-container .para3 {
  height: 80%;
  align-items: center;
  padding-bottom: 2.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 1rem;
  margin: 1.2rem;
}
.main-content .main-content-container .para3 h2 {
  margin-bottom: 1rem;
}
.signup-btn {
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.signup-btn button {
  border-radius: 3rem;
  width: 45%;
  height: 5.2rem;
}
.organize {
  padding: 0 32px;
  height: 80%;
  width: 100%;
}
.organize .content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
}
@media (max-width: 500px) {
  .organize .content-container {
    position: relative;
  }
}
.organize .content-container h2 {
  margin-bottom: 1rem;
}
.preview {
  padding: 0 32px;
  height: 80%;
  width: 100%;
}
.preview .content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
}
@media (max-width: 500px) {
  .preview .content-container {
    position: relative;
  }
}
.preview .content-container h2 {
  margin-bottom: 1rem;
}
.collaborate {
  padding: 0 32px;
  height: 80%;
  width: 100%;
}
.collaborate .content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
}
@media (max-width: 500px) {
  .collaborate .content-container {
    position: relative;
  }
}
.collaborate .content-container h2 {
  margin-bottom: 1rem;
}
